---
title: Grid
permalink: layout/grid
section: layout
---

<div class="grid-example">

  <h2>Default</h2>

  <div class="br-row">
    <div class="br-col-4">br-col-4</div>
    <div class="br-col-4">br-col-4</div>
    <div class="br-col-4">br-col-4</div>
  </div>
  <div class="br-row">
    <div class="br-col-3">br-col-3</div>
    <div class="br-col-3">br-col-3</div>
    <div class="br-col-3">br-col-3</div>
    <div class="br-col-3">br-col-3</div>
  </div>
  <div class="br-row">
    <div class="br-col-8">br-col-8</div>
    <div class="br-col-4">br-col-4</div>
  </div>

  <h2>No Padding</h2>

  <div class="br-row-nopad">
    <div class="br-col-4">br-col-4</div>
    <div class="br-col-4">br-col-4</div>
    <div class="br-col-4">br-col-4</div>
  </div>
  <div class="br-row-nopad">
    <div class="br-col-3">br-col-3</div>
    <div class="br-col-3">br-col-3</div>
    <div class="br-col-3">br-col-3</div>
    <div class="br-col-3">br-col-3</div>
  </div>
  <div class="br-row-nopad">
    <div class="br-col-8">br-col-8</div>
    <div class="br-col-4">br-col-4</div>
  </div>

</div>
