<nav id="nav-container">
  <a href="{{ site.baseurl }}/" class="home-link"><span class="br-icon-cloud"></span></a>
  <div id="nav-content">
    <ul class="nav">
      <li class="nav-item"><a href="{{ site.baseurl }}/install" class="nav-link"><span class="br-icon-download"></span></a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/cli" class="nav-link"><span class="br-icon-terminal"></span></a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/docs" class="nav-link"><span class="br-icon-book"></span></a>
        <ul class="subnav">
          <li class="subnav-item"><a href="{{ site.baseurl }}/docs/utility" class="subnav-link"><span class="br-icon-wrench"></span></a></li>
          <li class="subnav-item"><a href="{{ site.baseurl }}/docs/layout" class="subnav-link"><span class="br-icon-th"></span></a></li>
          <li class="subnav-item"><a href="{{ site.baseurl }}/docs/typography" class="subnav-link"><span class="br-icon-font"></span></a></li>
          <li class="subnav-item"><a href="{{ site.baseurl }}/docs/forms" class="subnav-link"><span class="br-icon-ok-squared"></span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
