<table summary="Table of superheroes">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Apples</th>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">Oranges</th>
      <td>3</td>
    </tr>
    <tr>
      <th scope="row">Bananas</th>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">Peaches</th>
      <td>1</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Total</th>
      <td>10</td>
    </tr>
  </tfoot>
</table>