---
title: Forms
permalink: /docs/forms.html
---

<h2>Fieldset / Legend</h2>
{% include sample.html content="partials/samples/form-fieldset-legend.html" %}

<h2>Labels</h2>
{% include sample.html content="partials/samples/form-label.html" %}

<h2>Text Boxes</h2>
{% include sample.html content="partials/samples/form-text.html" %}

<h2>Textarea</h2>
{% include sample.html content="partials/samples/form-textarea.html" %}

<h2>Select</h2>
{% include sample.html content="partials/samples/form-select.html" %}

<h2>Checkboxes</h2>
{% include sample.html content="partials/samples/form-checkbox.html" %}

<h2>Radio Buttons</h2>
{% include sample.html content="partials/samples/form-radio.html" %}

<h2>Buttons</h2>
{% include sample.html content="partials/samples/form-button.html" %}
{% include sample.html content="partials/samples/form-button-theme.html" %}


