---
title: Typography
permalink: /docs/typography.html
---

<h2>Headers</h2>
{% include sample.html content="partials/samples/h1.html" %}
{% include sample.html content="partials/samples/h1-sub.html" %}
{% include sample.html content="partials/samples/h2.html" %}
{% include sample.html content="partials/samples/h2-sub.html" %}
{% include sample.html content="partials/samples/h3.html" %}
{% include sample.html content="partials/samples/h4.html" %}
{% include sample.html content="partials/samples/h5.html" %}
{% include sample.html content="partials/samples/h6.html" %}

<h2>Paragraphs</h2>
{% include sample.html content="partials/samples/p.html" %}

<h2>Blockquotes</h2>
{% include sample.html content="partials/samples/blockquote.html" %}

<h2>Lists</h2>
{% include sample.html content="partials/samples/ol.html" %}
{% include sample.html content="partials/samples/ul.html" %}

<h2>Preformatted text</h2>
{% include sample.html content="partials/samples/pre.html" %}

<h2>Inline elements</h2>
<h3>Links</h3>
{% include sample.html content="partials/samples/links.html" %}

<h2>Code</h3>
{% include sample.html content="partials/samples/code.html" %}

<h3>Abbreviations / Acronyms</h3>
{% include sample.html content="partials/samples/abbr.html" %}